body {
    font-family: 'PT Sans', arial;
}

.folder {
    clear: both;
    padding: 5px;
}

.bookmark {
    float: left;
    overflow: hidden;
    padding: 5px;
    width: 180px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #f7f7f9;
    color: #000;
}

.bookmark:hover {
    background: #c7e7f9;
}
