<!DOCTYPE html>
<html ng-app="newTabBookmarkApp">
<head>
  <meta charset="utf-8"/>
  <title>New Tab</title>
  <link rel="stylesheet" href="app.css" />
</head>
<body ng-controller="NewTabCtrl">

  <div class="network-offline" ng-if="!online">
    <div>Network is unreachable</div>
  </div>

  <div class="container">
    <div class="top-sites">
      <div class="folder">
        <div><span ng-dblclick="demo()">Top</span> {{topSites | count}}</div>
      </div>
      <div ng-repeat="site in topSites" class="site">
        <a href="{{site.url}}">
          <div class="site-icon" style="background-image: url('chrome://favicon/{{site.url}}')"></div>
        </a>
        <div class="site-tip">{{site.title}}</div>
      </div>
    </div>

    <div class="bookmarks">
      <div ng-repeat="folder in folders">
        <div class="folder">
          <div>{{folder.title}}</div>
        </div>
        <div ng-repeat="site in folder.children" class="site">
          <a href="{{site.url}}">
            <div class="site-icon" style="background-image: url('chrome://favicon/{{site.url}}')">
              <div class="site-icon-text">{{site.title}}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</html>
