<!DOCTYPE html>
<html ng-app="newTabBookmarkApp">
<head>
  <meta charset="utf-8"/>
  <title>New Tab</title>
  <link rel="stylesheet" href="app.css" />
</head>
<body ng-controller="NewTabCtrl">

  <div class="container">
    <div class="top-sites">
      <div class="folder">
        <div><span ng-dblclick="demo()">Top</span> Sites {{topSites | count}}</div>
      </div>
      <div ng-repeat="item in topSites" ng-include="'bookmarks.html'"></div>
    </div>

    <div ng-repeat="top in tree">
      <div ng-repeat="item in top.children" ng-include="'folders.html'"></div>
    </div>
  </div>

  <script type="text/ng-template" id="folders.html">
    <div class="folder">
      <div>{{item.title}}</div>
    </div>
    <div ng-repeat="item in item.children | bookmarks" ng-include="'bookmarks.html'"></div>
    <div ng-repeat="item in item.children | folders" ng-include="'folders.html'"></div>
  </script>

  <script type="text/ng-template" id="bookmarks.html">
    <a href="{{item.url}}">
      <div class="bookmark">
        <div style="background-image: url('chrome://favicon/{{item.url}}')">
          {{item.title}}
        </div>
      </div>
    </a>
  </script>

</body>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</html>
