body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: @color-background;
  color: @color-foreground;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

@import '_bookmarks.less';
@import '_topsites.less';
@import '_status.less';
@import '_preferences.less';
