body {
  display: block;
  margin: 0;
  padding: 0;
  & when(@theme = 'light') {
    background-color: #b9babd;
    color: #000;
  }
  & when(@theme = 'dark') {
    background-color: #222;
    color: #eee;
  }
  & when(@theme = 'solarized') {
    background-color: @solarized-base3;
    color: @solarized-base03;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  label, button {
    display: inline-block;
    font: inherit;
    color: inherit;
    margin: @size-preference-item-margin;
    padding: @size-preference-item-padding;
    border-radius: 3px;
    border: none;

    & when(@theme = 'light') { background-color: #e9eaed; }
    & when(@theme = 'dark')  { background-color: #363636; }
    & when(@theme = 'solarized') { background-color: @solarized-base2; }

    &:hover {
      & when(@theme = 'light') { background-color: average(#e9eaed, #fff); }
      & when(@theme = 'dark')  { background-color: #555; }
      & when(@theme = 'solarized') { background-color: average(@solarized-base2, @solarized-base3); }
    }

    input {
      margin-right: @size-preference-item-padding;

      &[type='radio']:checked + span {
        font-weight: bold;
      }
    }
  }
}

@import '_bookmarks.less';
@import '_topsites.less';
@import '_status.less';
@import '_footer.less';
