@import '_folder.less';

@size-bookmark-width: 160px;
@size-bookmark-height: 48px;

.BookmarkFolder:extend(.AbstractFolder) {
}

.BookmarkItem:extend(.AbstractFolderItem):extend(.AbstractFolderItemClickable) {
  width: @size-bookmark-width;
  height: @size-bookmark-height;
}

.BookmarkItem:hover:extend(.AbstractFolderItemClickable:hover) {}

.BookmarkFolderHeading:extend(.AbstractFolderItem) {
  width: @size-bookmark-width;
  height: @size-bookmark-height;
}

.BookmarkFolderHeadingTitle {
  font-size: 120%;

  & when(@theme = 'light') { color: #444; }
  & when(@theme = 'dark') { color: #ccc; }
}

.BookmarkItemBody:extend(.AbstractFolderItemBody) {
  background-position-x: @size-folder-item-padding;
  background-position-y: @size-folder-item-padding;
}
