@import '_folder.less';

@size-bookmark-width: 160px;
@size-bookmark-height: 48px;

.Bookmarks {
  margin-top: @size-topsite-height + @size-folder-item-padding * 2 + @size-folder-margin-y * 2 + 2;
}

.BookmarkFolder:extend(.AbstractFolder) {}

.BookmarkItem:extend(.AbstractFolderItem) {}

.BookmarkItemButton:extend(.AbstractFolderItemButton) {
  width: @size-bookmark-width;
  height: @size-bookmark-height;
}

.BookmarkItemButton:hover:extend(.AbstractFolderItemButton:hover) {}

.BookmarkItemButtonBody:extend(.AbstractFolderItemButtonBody) {
  background-position-x: @size-folder-item-padding;
  background-position-y: @size-folder-item-padding;
}

.BookmarkFolderHeading:extend(.AbstractFolderHeading) {
  width: @size-bookmark-width;
  vertical-align: top;
  font-size: 120%;

  & when(@theme = 'light') { color: #444; }
  & when(@theme = 'dark') { color: #ccc; }
  & when(@theme = 'solarized') { color: @solarized-base03; }
}
