@size-preference-item-margin: @size-folder-item-margin;
@size-preference-item-padding: 10px;
@size-footer-margin-y: 15px;

@color-preference-item-background: @color-folder-item-background;
@color-preference-item-hover: @color-folder-item-hover;

.Preferences,
.Footer {
  margin-top: @size-footer-margin-y;
  margin-bottom: @size-footer-margin-y;
  text-align: center;
  p {
    color: @color-footer-title;
    text-shadow: 1px 1px 1px @color-footer-title-shadow;
  }
}

.Themes {
  label {
    font: inherit;
    color: inherit;
    background-color: @color-preference-item-background;
    margin: @size-preference-item-margin;
    padding: @size-preference-item-padding;
    border-radius: 3px;
    border: none;
    &:hover {
      background-color: @color-preference-item-hover;
    }
    input {
      margin-right: @size-preference-item-padding;
      &:checked + span {
        font-weight: bold;
      }
    }
  }
}
