@size-tip-padding: 5px;

.AbstractTip {
  padding: @size-tip-padding;
  border-radius: 3px;

  & when(@theme = 'light') {
    color: #fff;
    background-color: fade(#000, 80%);
  }
  & when(@theme = 'dark') {
    color: #eee;
    background-color: fade(#000, 70%);
  }
}
