.FolderItemEditorForm__Modal {
  margin: 32px;
  background-color: var(--palette-3);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.FolderItemEditorForm__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.FolderItemEditorForm__TextInput,
.FolderItemEditorForm__UrlInput {
  box-sizing: border-box;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 4px;
  color: inherit;
  background-color: var(--palette-2);
  border: none;
}

.FolderItemEditorForm__UrlInput {
  padding-left: 32px;
  background-position-x: 8px;
  background-position-y: 8px;
  background-repeat: no-repeat;
}

.FolderItemEditorForm__Button {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 4px;
  color: inherit;
  background-color: var(--palette-2);
  border: none;
}

.FolderItemEditorForm__Button:hover {
  background-color: var(--palette-1);
}

.FolderItemEditorForm__ClearFix {
  clear: both;
}

.FolderItemEditorForm__Left {
  float: left;
}

.FolderItemEditorForm__Right {
  float: right;
}
