.TopSites {
  --size-folder-padding-x: var(--size-wide-gap);
  --size-folder-padding-y: var(--size-gap);
  --size-folder-item-gap: var(--size-gap);
  --size-folder-item-width: 40px;
  --size-folder-item-height: 40px;
  --size-icon: 16px;
}

.TopSites {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--size-folder-item-width));
  gap: var(--size-folder-item-gap);
  padding: var(--size-folder-padding-y) var(--size-folder-padding-x);
  min-height: calc(var(--size-folder-item-height));

  overflow-x: hidden;
  border-radius: 3px;
  background-color: var(--palette-2);
}

.TopSiteButton {
  display: grid;
  width: var(--size-folder-item-width);
  height: var(--size-folder-item-height);
  border-radius: 3px;
  background-color: var(--palette-3);
}

.TopSiteButton:hover {
  background-color: var(--palette-2);
  box-shadow: 0 0 calc(var(--size-folder-item-gap) * 3) var(--palette-01);
}

.TopSiteButton__Icon {
  width: var(--size-icon);
  height: var(--size-icon);
  align-self: center;
  justify-self: center;
}

.TopSiteTitle {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  max-width: 150px;
  padding: var(--size-gap);
  overflow: hidden;
  border-radius: 3px;
  opacity: 0.8;
  color: var(--palette-3);
  background-color: var(--palette-03);
}

.TopSite:hover .TopSiteTitle,
.TopSite > a:focus-visible + .TopSiteTitle {
  visibility: visible;
}

.TopSite:hover .TopSiteTitle:hover {
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
}
