.site-tile(@width, @height, @margin) {
  float: left;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  width: @width;
  height: @height;
  margin-right: @margin;
  margin-bottom: @margin;
}

.site-tile-inner(@padding) {
  position: relative;
  height: 100%;
  padding: @padding;
}

.site-tile-inner-with-icon(@padding, @icon-size) {
  .site-tile-inner(@padding);
  padding-left: @padding + @padding + @icon-size;
  background-repeat: no-repeat;
  background-position-x: @padding;
  background-position-y: @padding;
  // background-image should be given in HTML
}


body {
  font-size: 10.5pt;
  font-family: 'PT Sans', arial;
  background-color: #e9eaed;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}

.folder {
  border-color: transparent;
  clear: both;

  >div {
    .site-tile-inner(5px);
    color: #444;
    font-size: 120%;
  }
}

.site {
  border-color: #eee #ddd #ddd;
  border-radius: 3px;

  >div {
    background-color: #fff;
    color: #000;
  }

  &:hover {
    box-shadow: 0 0 10px #9ad;
  }
}


.top-sites {
  .folder {
    .site-tile(51px, 48px, 5px);
  }
  .site {
    .site-tile(48px, 48px, 5px);
    >div {
      .site-tile-inner-with-icon(16px, 16px);
    }
  }
}

.bookmarks {
  .folder {
    .site-tile(160px, 48px, 5px);
  }
  .site {
    .site-tile(160px, 48px, 5px);
    >div {
      .site-tile-inner-with-icon(5px, 16px);
    }
  }
}
