body {
  margin: 0;
  padding: 0;
  background-color: #b9babd;
}

a {
  color: #000;
  text-decoration: none;
}

.clearfix {
  clear: both;
}


@bookmark-tile-width: 160px;
@bookmark-tile-height: 48px;
@topsite-tile-width: 48px;
@topsite-tile-height: 48px;
@topsite-tip-width: 160px;
@separator-margin: 5px;
@container-margin: 15px;
@icon-size: 16px;


.BookmarkFolder,
.TopSites {
  background-color: #e9eaed;
  border-radius: 3px;
  margin-top: @separator-margin;
  margin-bottom: @separator-margin;
  margin-left: @container-margin;
  margin-right: @container-margin;
  padding-top: @separator-margin;
  padding-left: @container-margin;
}

.BookmarkFolderHeading,
.BookmarkItem,
.TopSitesItem {
  float: left;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.BookmarkFolderHeading,
.BookmarkItem {
  width: @bookmark-tile-width;
  height: @bookmark-tile-height;
  margin-right: @separator-margin;
  margin-bottom: @separator-margin;
}

.TopSitesItem {
  width: @topsite-tile-width;
  height: @topsite-tile-height;
  margin-right: @separator-margin;
  margin-bottom: @separator-margin;
}

.BookmarkFolderHeadingTitle {
  color: #444;
  font-size: 120%;
}

.BookmarkItem,
.TopSitesItem {
  background-color: #fff;
  border-color: #eee #ddd #ddd;
  border-radius: 3px;
  &:hover {
    box-shadow: 0 0 10px #9ad;
  }
}

.BookmarkItemBody,
.TopSitesItemBody {
  padding: @separator-margin;
  min-height: @topsite-tile-height;
  padding-left: @separator-margin * 2 + @icon-size;
  background-repeat: no-repeat;
  // background-image should be given in HTML
}

.BookmarkItemBody {
  background-position-x: @separator-margin;
  background-position-y: @separator-margin;
}

.TopSitesItemBody {
  background-position-x: (@topsite-tile-width - @icon-size) / 2;
  background-position-y: (@topsite-tile-height - @icon-size) / 2;
}

.TopSitesItemTip {
  position: absolute;
  z-index: 10;
  max-width: @topsite-tip-width;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.TopSitesItem:hover .TopSitesItemTip {
  display: block;
}

.TopSitesItem:focus .TopSitesItemTip {
  display: block;
}

.footer {
  margin-top: @separator-margin;
  margin-bottom: @separator-margin;
  text-align: center;
  color: #444;
  text-shadow: 1px 1px 1px #fff;
}


// FIXME
.network-offline {
  z-index: 20;
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  box-shadow: 0 0 5px #444;
}
