.Search {
  --size-form-control-padding: 8px;
}

.Search {
  display: grid;
  padding: var(--size-gap) var(--size-wide-gap);
  border-radius: 3px;
  background-color: var(--palette-2);
}

.Search input[type='text'] {
  overflow: hidden;
  background-color: inherit;
  color: var(--palette-03);
  font-size: inherit;
  outline: none;
  border: none;
}

.Search input[type='text']::placeholder {
  color: var(--palette-01);
  opacity: 0.5;
  transition: opacity 0.25s linear;
}

.Search input[type='text']:focus::placeholder,
.Search input[type='text']:hover::placeholder {
  opacity: 0.8;
  transition: opacity 0.25s linear;
}
