.App {
  display: grid;
  row-gap: var(--size-gap);
  padding: var(--size-gap) var(--size-wide-gap);
}

.App__Header {
  display: grid;
  column-gap: var(--size-gap);
  grid-template-columns: auto 150px;
}

.App__Footer {
  text-align: center;
}

.App__Footer button {
  padding: calc(var(--size-gap) * 2);
  font: inherit;
  color: inherit;
  border-radius: 3px;
  border: none;
  background-color: var(--palette-2);
}
