:root /* standard */ {
  --theme-palette-03: #2b2b2b;
  --theme-palette-02: #363636;
  --theme-palette-01: #6e6e6e;
  --theme-palette-00: #7b7b7b;
  --theme-palette-0: #949494;
  --theme-palette-1: #a1a1a1;
  --theme-palette-2: #eeeeee;
  --theme-palette-3: #fdfdfd;
}

:root[data-theme='solarized'] {
  --theme-palette-03: #002b36;
  --theme-palette-02: #073642;
  --theme-palette-01: #586e75;
  --theme-palette-00: #657b83;
  --theme-palette-0: #839496;
  --theme-palette-1: #93a1a1;
  --theme-palette-2: #eee8d5;
  --theme-palette-3: #fdf6e3;
}

:root[data-color-scheme='light'] {
  --palette-3: var(--theme-palette-3);
  --palette-2: var(--theme-palette-2);
  --palette-1: var(--theme-palette-1);
  --palette-0: var(--theme-palette-0);
  --palette-00: var(--theme-palette-00);
  --palette-01: var(--theme-palette-01);
  --palette-02: var(--theme-palette-02);
  --palette-03: var(--theme-palette-03);
}

:root[data-color-scheme='dark'] {
  --palette-3: var(--theme-palette-03);
  --palette-2: var(--theme-palette-02);
  --palette-1: var(--theme-palette-01);
  --palette-0: var(--theme-palette-00);
  --palette-00: var(--theme-palette-0);
  --palette-01: var(--theme-palette-1);
  --palette-02: var(--theme-palette-2);
  --palette-03: var(--theme-palette-3);
}

:root /* auto */ {
  --palette-3: var(--theme-palette-3);
  --palette-2: var(--theme-palette-2);
  --palette-1: var(--theme-palette-1);
  --palette-0: var(--theme-palette-0);
  --palette-00: var(--theme-palette-00);
  --palette-01: var(--theme-palette-01);
  --palette-02: var(--theme-palette-02);
  --palette-03: var(--theme-palette-03);
}

@media (prefers-color-scheme: dark) {
  :root /* auto */ {
    --palette-3: var(--theme-palette-03);
    --palette-2: var(--theme-palette-02);
    --palette-1: var(--theme-palette-01);
    --palette-0: var(--theme-palette-00);
    --palette-00: var(--theme-palette-0);
    --palette-01: var(--theme-palette-1);
    --palette-02: var(--theme-palette-2);
    --palette-03: var(--theme-palette-3);
  }
}
