.BookmarkEditor {
  --size-form-control-padding: 8px;
  --size-form-control-border-radius: 4px;
  --size-icon: 16px;
}

dialog.BookmarkEditor {
  width: auto;
  max-width: 800px;
  padding: inherit;
  color: inherit;
  background-color: var(--palette-3);
  border-style: none;
  border-radius: var(--size-form-control-border-radius);
  box-shadow: 0 0 var(--size-wide-gap) rgba(0, 0, 0, 0.5);
}

dialog.BookmarkEditor::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.BookmarkEditor__Form {
  display: grid;
  gap: var(--size-gap);
  padding: var(--size-wide-gap);
}

.BookmarkEditor__Group {
  display: grid;
  grid-template-columns: min-content auto min-content;
}

.BookmarkEditor input[type='text'] {
  padding: var(--size-form-control-padding);
  border-radius: var(--size-form-control-border-radius);
  border: var(--palette-1) solid 1px;
  color: inherit;
  background-color: var(--palette-2);
}

.BookmarkEditor input[type='text']:focus {
  background-color: var(--palette-3);
}

.BookmarkEditor input[type='text'].BookmarkEditor__Url {
  padding-left: calc(var(--size-icon) * 2);
  background-size: var(--size-icon);
  background-position: calc(var(--size-icon) / 2);
  background-repeat: no-repeat;
}

.BookmarkEditor input[type='button'],
.BookmarkEditor input[type='submit'] {
  padding: var(--size-form-control-padding);
  border-radius: var(--size-form-control-border-radius);
  border: var(--palette-1) solid 1px;
  color: inherit;
  background-color: var(--palette-2);
}

.BookmarkEditor input[type='button']:enabled:hover,
.BookmarkEditor input[type='submit']:enabled:hover {
  background-color: var(--palette-1);
}

.BookmarkEditor input[type='button']:disabled,
.BookmarkEditor input[type='submit']:disabled {
  color: var(--palette-1);
}

.BookmarkEditor input[type='button'][value='Remove']:hover {
  color: red;
}

.BookmarkEditor__Message {
  padding: var(--size-form-control-padding);
  color: var(--palette-03);
}

.BookmarkEditor a {
  margin: var(--size-form-control-padding);
  text-decoration: underline;
}
