.Preferences {
  --size-preference-item-margin: var(--size-gap);
  --size-preference-item-padding: 8px;
  --size-form-control-border-radius: 4px;
}

dialog.Preferences {
  padding: inherit;
  color: inherit;
  background-color: var(--palette-3);
  border-style: none;
  border-radius: var(--size-form-control-border-radius);
  box-shadow: 0 0 var(--size-wide-gap) rgba(0, 0, 0, 0.5);
}

dialog.Preferences::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.Preferences__Form {
  display: grid;
  gap: var(--size-gap);
  padding: var(--size-wide-gap);
}

.Preferences h2 {
  margin-top: var(--size-gap);
  margin-bottom: var(--size-gap);
  font-size: 100%;
  color: var(--palette-00);
  text-transform: uppercase;
}

.Preferences label,
.Preferences button,
.Preferences a[href] {
  display: inline-block;
  margin-right: var(--size-preference-item-margin);
  padding: var(--size-preference-item-padding);
  font: inherit;
  color: inherit;
  border-radius: 3px;
  border: none;
  background-color: var(--palette-2);
}

.Preferences label:hover,
.Preferences button:hover,
.Preferences a[href]:hover {
  background-color: var(--palette-1);
}
