.Preferences {
  --size-preference-item-margin: var(--size-gap);
  --size-preference-item-padding: 8px;
}

.Preferences {
  display: grid;
  gap: var(--size-gap);
  margin-top: var(--size-wide-gap);
  text-align: center;
}

.Preferences h2 {
  margin: 0;
  padding: 0;
  font-size: 90%;
  color: var(--palette-00);
  text-transform: uppercase;
}

.Preferences label,
.Preferences button {
  display: inline-block;
  margin-right: var(--size-preference-item-margin);
  padding: var(--size-preference-item-padding);
  font: inherit;
  color: inherit;
  border-radius: 3px;
  border: none;
  background-color: var(--palette-2);
}

.Preferences label:hover,
.Preferences button:hover {
  background-color: var(--palette-1);
}
