.App {
  --size-gap: 5px;
  --size-wide-gap: 15px;
}

.App {
  display: grid;
  row-gap: var(--size-gap);
  padding: var(--size-gap) var(--size-wide-gap);
}

.App__Header {
  display: grid;
  column-gap: var(--size-gap);
  grid-template-columns: auto 150px;
}
