:root {
  background-color: var(--palette-3);
  color: var(--palette-03);
}

body {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.TileFolderItem__ButtonBody {
  height: 200px;
}