:root {
  --size-gap: 5px;
  --size-wide-gap: 15px;
}

:root {
  /* Override background-color in index.html */
  background-color: var(--palette-3);
  color: var(--palette-03);
}

:root.popup {
  /* Explicitly set the width, because the default is too small */
  /* https://developer.chrome.com/docs/extensions/reference/action/#popup */
  width: 700px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Set background to prevent screen flicker while loading */
#root:empty {
  position: fixed;
  top: var(--size-gap);
  bottom: var(--size-gap);
  left: var(--size-wide-gap);
  right: var(--size-wide-gap);
  background-color: var(--palette-2);
}
