.FixedTip {
  z-index: 20;
  position: fixed;
  top: 20px;
  right: 20px;
}

.FixedTip__Body,
.FloatTip__Body {
  padding: 5px;
  border-radius: 3px;
  color: var(--palette-3);
  background-color: var(--palette-03);
  opacity: 0.8;
}

.FloatTip {
  display: inline-block;
}

.FloatTip__Baloon {
  position: absolute;
  z-index: 10;
  max-width: 160px;
  display: none;
  overflow: hidden;
}

.FloatTip:hover .FloatTip__Baloon {
  display: block;
}

.FloatTip:hover .FloatTip__Baloon:hover {
  height: 0;
  animation: FloatTip__Baloon__FadeOut 0.25s linear;
}

.FloatTip__Body {
  margin-top: 3px;
  white-space: normal;
  pointer-events: none;
}

@keyframes FloatTip__Baloon__FadeOut {
  from {
    opacity: 1;
    height: initial;
  }
  99% {
    height: initial;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
