name: release

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/release.yaml
      - manifest.json
      - package.json
      - pnpm-lock.yaml
  push:
    branches:
      - main
    paths:
      - .github/workflows/release.yaml
      - manifest.json
      - package.json
      - pnpm-lock.yaml
    tags:
      - '*'

jobs:
  zip:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run build
      - run: sed -i -e "s|0.0.0.0|$GITHUB_REF_NAME|" dist/manifest.json
      - run: cd dist && zip -r ../dist.zip .
      - run: zipinfo dist.zip
      - if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist.zip
          path: dist.zip
      - if: github.ref_type == 'tag'
        run: gh release upload "${{ github.ref_name }}" dist.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
