name: release

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/release.yaml
      - manifest.json
      - package.json
      - pnpm-lock.yaml
  push:
    branches:
      - main
    paths:
      - .github/workflows/release.yaml
      - manifest.json
      - package.json
      - pnpm-lock.yaml
    tags:
      - '*'

jobs:
  zip:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run build
      - run: sed -i -e "s|0.0.0.0|$GITHUB_REF_NAME|" dist/manifest.json
      - run: cd dist && zip -r ../dist.zip .
      - run: zipinfo dist.zip
      - if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist.zip
          path: dist.zip
      - if: github.ref_type == 'tag'
        run: gh release upload "${{ github.ref_name }}" dist.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
