name: storybook

on:
  pull_request:
    paths:
      - .github/workflows/storybook.yaml
      - .storybook/**
      - src/**
      - '*.json'
      - '*.config.*'
      - pnpm-lock.yaml
  push:
    branches:
      - main
    paths:
      - .github/workflows/storybook.yaml
      - .storybook/**
      - src/**
      - '*.json'
      - '*.config.*'
      - pnpm-lock.yaml

jobs:
  screenshot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm exec playwright install chromium
      - run: pnpm run test-storybook
      - uses: int128/upload-artifact-wiki-action@768b6d5c033f420ef3e06c79de32aae54b031e57 # v1.17.0
        id: upload-artifact-wiki
        with:
          path: __screenshots__/**/*.png
      - uses: int128/comment-action@095eeace5d220236baf4e08cd26d1d6ca65db87a # v1.45.0
        with:
          update-if-exists: replace
          post: |
            <table>
              <tr>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/src/App/component.stories.tsx/Primary-1.png"></td>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/src/App/component.stories.tsx/Dark-1.png"></td>
              </tr>
              <tr>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/src/BookmarkEditor/component.stories.tsx/Primary-1.png"></td>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/src/Preferences/component.stories.tsx/Primary-1.png"></td>
              </tr>
            </table>

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run build-storybook
      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: storybook-static

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
