name: storybook

on:
  pull_request:
    paths:
      - .github/workflows/storybook.yaml
      - .storybook/**
      - src/**
      - '*.json'
      - '*.config.*'
      - pnpm-lock.yaml
  push:
    branches:
      - main
    paths:
      - .github/workflows/storybook.yaml
      - .storybook/**
      - src/**
      - '*.json'
      - '*.config.*'
      - pnpm-lock.yaml

jobs:
  screenshot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run test-storybook
      - uses: int128/upload-artifact-wiki-action@768b6d5c033f420ef3e06c79de32aae54b031e57 # v1.17.0
        id: upload-artifact-wiki
        with:
          path: __screenshots__/**/*.png
      - uses: int128/comment-action@043d58e8bdcc47c1bae55c5553669749578ba982 # v1.43.0
        with:
          update-if-exists: replace
          post: |
            <table>
              <tr>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/App/component.stories.tsx/Primary-1.png"></td>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/App/component.stories.tsx/Dark-1.png"></td>
              </tr>
              <tr>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/BookmarkEditor.stories.tsx/component/Primary-1.png"></td>
                <td><img src="${{ steps.upload-artifact-wiki.outputs.url }}/__screenshots__/Preferences.stories.tsx/component/Primary-1.png"></td>
              </tr>
            </table>
